* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "roboto", sans-serif;
    background-color: #f4f6f8; 
    color: #000000;             
    line-height: 1.6;           
    padding: 20px;       
    background-color: #002b7c;       
}

form {
    background-color: #ffffff; 
    padding: 30px;             
    border-radius: 8px;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 400px;              
    max-width: 400px;  
    background-color: rgb(0, 80, 155);  
    color: #ffffff;   
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

h1 {
    color: #ffffff;        
    text-align: center;    
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    max-width: 400px;
    background-color: rgb(0, 80, 155);
}


form label {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}

form input,
form button {
    width: 100%;
    box-sizing: border-box;
}


form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.75rem;
    background-color: #3a99ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}



